@font-face {
    font-family: 'dumbledor1';
    src: url(./fonts/dumbledor/dum1/dum1.ttf) format('truetype');
  }
  @font-face{
    font-family: 'dumbledor2';
    src: url(./fonts/dumbledor/dum2/dum2.ttf) format('truetype');
  }
  @font-face{
    font-family: 'dumbledor3';
    src: url(./fonts/dumbledor/dum3/dum3.ttf) format('truetype');
  }
  @font-face {
    font-family: 'notebookGreater';
    src: url(./fonts/RRNotebookGreater.otf);
  }
  @font-face {
    font-family: 'notebookLesser';
    src: url(./fonts/RRNotebookLesser.otf);
  } 
  @font-face {
    font-family: 'celticmd';
    src: url(./fonts/celticmd.ttf);
  }

/* site-wide elements */

* {
    padding: 0%;
    cursor: url(./images/cursor.cur), auto ;
}
    
body {
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-color: black;
    z-index: -1 ;
}

ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    margin: 0px;
}

li {
    display: flex;
    margin: 3px;
    justify-content: center;
    padding: 2px;
}

.page_button {
    display: flex;
    background-image: url(./images/buttonBackground.png);
    margin: 3px;
    border: 1px solid goldenrod;
    justify-content: center;
    padding: 2px;
    width: 115px;
    height: 45%;
}
@media (max-width: 768px) {
    .page_button {
        width: 80px;
    }
}

a {
    font-family: 'dumbledor1';
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(13, 13, 68);
    text-align: center;
}
@media (max-width: 768px) {
    a {
        font-size: 1rem;
    }
}
header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.parchment {
    position: relative;
    width: 100%;
    height: 20%;
    z-index: -1;
}

h1 {
    display: inline;
    font-family: dumbledor1;
    font-size: 5vw;
    position: absolute;
    text-align: center;
    margin-top: 3%;
    z-index: 1;
}

h2 {
    font-family: dumbledor1;
}

span {
    font-family: celticmd;
}

/* 'The Game' page specific elements */

.gameBody {
    background-image: url(./images/Background_images/TheGame_Background.gif);    
}

.gametitle {
    position: absolute;
    width: 42%;
    z-index: 1;
}
@media (max-width: 1024px) {
    .gametitle {
        width: 60%;
    }
}

#gameHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
@media (max-width: 1024px) {
    #gameHeader {
        width: 75%;
    }
}

.companyLogo {
    display: inline;
    width: 13%;
}

#companyLogo {
    display: inline;
    width: 100%;
}

.gameLogo {
    display: inline;
    width: 9%;
}

#gameLogo {
    display: inline;
    width: 100%;
}

.videoplayer {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* background-image: url(./images/video_background.png); */
    /* background-repeat: no-repeat; */
}

.trailer {
    height: 365px;
    width: 600px;
    /* height: 35%; */
    /* width: 60%; */
}
@media (max-width: 768px) {
    .trailer {
        height: 35%;
        width: 75%;
    }
}

.steam_widget {
    display: grid;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1200px) {
    .steam_widget {
        width: 75%;
    }
}

.blurb {
    display: grid;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: url(./images/buttonBackground.png);
    filter: opacity(100%);
    border: 5px solid rgb(255, 217, 0);
    border-radius: 10px;
}
@media (max-width: 1200px) {
    .blurb {
        width: 75%;
    }
}

.blurb_text {
    display: flex;
    padding: 0 3px;
    color: rgb(13, 13, 68);
    font-size: 1.5rem;
    font-family: dumbledor1;
    text-align: center;
    line-height: 1.5rem;
}

.social_link {
    width: 41px;
}

.social_link_small {
    display: none;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .social_link_small {
        display: flex;
    }
}

.social_link_large {
    display: flex;
}
@media (max-width: 768px) {
    .social_link_large {
        display: none;
    }
}

footer ul li a {
    display: flex;
    margin: 3px;
    padding: 2px;
}

footer ul li{
    background-image: none;
    border: none;
    width: auto;
}

/* 'The Journey' page specific elements */

.journeyBody {
    background-image: url(./images/Background_images/TheJourney_Background.png);        
}

.blog_post {
    width: 70%;
    background-color: bisque;
    border: 2px solid black;
}

/* 'The Press' page specific elements */

.pressBody {
    background-image: url(./images/Background_images/ThePress_Background.png);
}

.container {
    display: flex;
}

#carousel {
    display: flex;
}

.carousel-item {
    text-align: center;
}

/* .arrows {
    display: grid;
    justify-content: center;
    align-items: center;
} */

.left_arrow {
    margin: auto;
}

.right_arrow {
    margin: auto;
}

.carousel-indicators {
    position: fixed;
}

.pressClipping {
    display: inline-block;
    border: 2px solid black;
    width: 1028px;
    height: 500px;
}

/* 'The Team' page specific elements */

.teamBody {
    background-image: url(./images/Background_images/TheTeam_Background.png);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;

}

.developer {
    display: grid;
    background-color: bisque;
    justify-items: center;
    align-content: center;
    width: 250px;
    margin: 10px;
}

h4 {
    font-family: dumbledor1;
    text-align: center;
}

.developer img {
    border: 3px solid gold;
    
}


.card-text {
    display: flex;
    color: rgb(13, 13, 68);
    font-size: 1.3rem;
    font-family: dumbledor1;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.2rem;
}
